   <section class="row text-center" id="Educacion">

    <div class="col-sm-6 text-center pt-5 bg-educacion position-relative">
      <h1 class="text-center fw-bold color1 big position-absolute top-50 start-50 translate-middle">EDU<br>CA<br>CION</h1>
    </div>

    <div class="col-sm-6 pt-5">
      <aside class="row-sm">
        <div class="d-flex align-items-start">
           <img class="rounded-4 mx-3 SSTA" src="../../../assets/Colegio SSTA.jpg" alt="Colegio S.S.T.A">
           <aside class="text-start">
            <h4 >Nivel Secundario - Colegio SSTA</h4>
            <h6>(2016-2021)</h6>
            <h6>Promedio: 8.99</h6>
            <p>Institución educativa ubicada en la localidad de Grand Bourg que desde 1992 participa en la formación de niños y adolescentes, capacitando e instruyendo para brindar un futuro mejor</p>
           </aside>
        </div>
        </aside>
        <aside class="row-sm">
          <div class="d-flex align-items-start">
             <img class="rounded-4 mx-3" src="../../../assets/IAC.jpg" alt="Instituto Argentino de Computación">
             <aside class="text-start">
              <h4 >Instituto Argentino de Computación (IAC)</h4>
              <h6>CURSO DE EXCEL AVANZADO (2021)</h6>
              <p>Con más de 20 años de trayectoria y conformando la red de institutos más grande de Sudamérica, el IAC se ha consolidado como el mejor instituto de capacitación, desarrollando profesionales reconocidos y buscados en el mercado laboral.</p>
             </aside>
          </div>
          </aside>
      <aside class="row-sm">
      <div class="d-flex align-items-start">
         <img class="rounded-4 mx-3" src="../../../assets/Arg.jpg" alt="Argentina Programa">
         <aside class="text-start">
          <h4 >Argentina Programa</h4>
          <h6>(2021-2022)</h6>
          <p>Argentina Programa se trata de un programa nacional y federal que tiene como objetivo capacitar a personas en lenguajes y conocimientos sobre programación, testing y habilidades digitales para potenciar la empleabilidad en el sector del software y la tecnología.</p>
         </aside>
      </div>
      </aside>
    </div>

  </section>