img {
    height: 60px;
}

.img-educacion {
    height: 400px;
}

.bg-educacion {
    background-color: #1b1b1b;
}

.SSTA {
    height: 70px !important;
}

p{
    font-size: 15px;
    text-align: start;
}