  <header class="bg-image position-relative">
    <section class="container1 position-absolute rounded-2">
        <div class="row position-relative">
          <h3 class="title-lyric w-75 color1 rounded-2 bg-4"> - Desarrollador Web</h3>
          <h3 class="title-lyric w-50 color1 rounded-2 bg-4"> - Full Stack</h3>
        </div>
        <div class="row title-container m-5">
          <h1 class="title-lyric text-uppercase font-monospace text-center">Santillán</h1>
        </div>
        <p class="text-center bg-4 w-75 rounded-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque debitis nemo asperiores mollitia aut tempore. Facere, eum doloremque suscipit culpa laborum nobis cum nulla eaque nihil doloribus assumenda tempore possimus!</p>
    </section>
    <a href="#Proyectos" class="whith position-absolute flecha mp-0"><i class="bi bi-arrow-down-circle fs-3 color1"></i></a> 
  </header>