.bg-image{
    background-image: url(../../../assets/polina-kuzovkova-M9-dSG3Iswg-unsplash.jpg);
    background-attachment:local;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}

.container1 {
    background-color: #e2dfda;
    height: 550px;
    margin: 2%;
}

.title-container {
    border: solid 1px #212121;
    border-left: 0px;
    border-right: 0px;
}



h1 {
    font-size: 200px;
}

h2 {
    font-size: 50px;
    position: relative;
    left: 125px;
}

h3 {
    position: relative;
    top: 15px;
}

p {
    position: relative;
    left: 12.5%;
}



.flecha {
    top: 90%;
    left: 50%;
}





@media (max-width: 720px) {
    p {
        width: 100%;
    }
    h1 {
        font-size: 100px;
    }
  }