  <div class="bg-image position-relative">
    <header class="color1 row">
      <div class="col-md">
        <h1 class="fw-semibold title-gradient title-lyric pt-5 px-5 centrar">Miqueas__<br>__Santillán</h1>
        <h3 class="fst-italic px-5 centrar">Desarrollador Web</h3>
        <h4 class="fw-lighter fst-italic px-5 centrar">Full Stack</h4>
        <p class="px-5 pt-5 centrar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita quo architecto vero deserunt quam ea iure. Eos magni eius reiciendis saepe! Voluptate, assumenda officia!</p>
      </div>
      <div class="col-md"></div>
      <a href="#Proyectos" class="position-absolute flecha"><i class="bi bi-arrow-down-circle fs-3 color1"></i></a>
    </header>
  </div>
