<div class="bg-image">
    <nav class="navbar bg-blanco border border-bottom-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="../../../assets/Logo.png" alt="Logo" style="max-height: 35px;"></a>
        <div class="d-flex font-monospace">
            <h6><a class="sin-deco color2 px-3 fw-semibold" href="#Proyectos">Proyectos</a></h6>
            <h6><a class="sin-deco color2 px-3 fw-semibold" href="#Educacion">Educación</a></h6>
            <h6><a class="sin-deco color2 px-3 fw-semibold" href="#Habilidades">Habilidades</a></h6>
            <h6><a class="sin-deco color2 ps-3 fw-semibold" href="#Contacto">Contacto</a></h6>
        </div>
      </div>
    </nav>
    <header class="color1 w-50 m-5 pt-5">
      <h1 class="fw-semibold mb-2">Miqueas Santillán</h1>
      <h3 class="fst-italic">Desarrollador Web</h3>
      <h4 class="fw-lighter fst-italic mb-5">Full Stack</h4>
      <p class="mt-5 pe-5 w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita quo architecto vero deserunt quam ea iure. Eos magni eius reiciendis saepe! Voluptate, assumenda officia!</p>
      <br><br><br><br><br><br><br>
      <a href="#Proyectos"><i class="bi bi-arrow-down-circle fs-3 ps-1 color1"></i></a>
      <br><br>
    </header>
</div>