<section class="row text-center position-relative" id="Habilidades">
  <div class="border-top w-25 position-absolute top-0 start-50 translate-middle"></div>
  <h1 class="mt-5 font-monospace">HABILIDADES</h1>
  
<aside class="col-sm-6 pt-5">
    <h3 class="fw-bold text-center mb-3">Tecnologías</h3>
    <h6 class="fs-5 text-center">HTML</h6>
    <h6 class="fs-5 text-center">CSS</h6>
    <h6 class="fs-5 text-center">Bootstrap</h6>
    <h6 class="fs-5 text-center">Java Script</h6>
    <h6 class="fs-5 text-center">TypeScript</h6>
    <h6 class="fs-5 text-center">Git</h6>
    <h6 class="fs-5 text-center">GitHub</h6>
    <h6 class="fs-5 text-center">Angular</h6>
    <h6 class="fs-5 text-center">Java</h6>
    <h6 class="fs-5 text-center">Spring Boot</h6>
    <h6 class="fs-5 text-center">SQL</h6>
  </aside>

  <div class="col-sm-6 text-center p-5">
    <img src="../../../assets/luca-bravo-XJXWbfSo2f0-unsplash.jpg" alt="Habilidades" class="w-100 top-50 start-50 rounded shadow-lg">
  </div>

</section>


<!-- <script>
  canvas = {
  const context = DOM.context2d(width, height);
  const faces = geodesic(subdivision);

  function drawTriangle([p0, p1, p2]) {
    context.moveTo(...p0);
    context.lineTo(...p1);
    context.lineTo(...p2);
    context.closePath();
  }

  while (true) {
    mutable projection = mutable projection
        .rotate([Date.now() / 200, -40]);

    const triangles = faces
        .map((d, i) => (d = d.map(mutable projection), d.index = i, d))
        .filter(d => d3.polygonArea(d) < 0);

    context.clearRect(0, 0, width, height);
    for (const t of triangles) {
      context.beginPath();
      drawTriangle(t);
      context.fillStyle = d3.interpolateRainbow(faces[t.index][0][0] / 360);
      context.fill();
    }

    context.beginPath();
    for (const t of triangles) {
      drawTriangle(t);
    }
    context.stroke();

    yield context.canvas;
  }
}
</script> -->