<section class="row text-center mp-0" id="Habilidades">
   
<aside class="col-sm-6 pt-5">
  <h3 class="fw-bold text-center mb-3">Tecnologías</h3>
  <div class="d-flex flex-column justify-content-between align-items-center">
    <h6 class="text-center mp-0 pt-3 w-25 a border">HTML</h6>
    <h6 class="text-center mp-0 pt-3 w-25 b border">CSS</h6>
    <h6 class="text-center mp-0 pt-3 w-25 c border">Java Script</h6>
    <h6 class="text-center mp-0 pt-3 w-25 d border">TypeScript</h6>
    <h6 class="text-center mp-0 pt-3 w-25 e border">Bootstrap</h6>
    <h6 class="text-center mp-0 pt-3 w-25 f border">Git</h6>
    <h6 class="text-center mp-0 pt-3 w-25 g border">GitHub</h6>
    <h6 class="text-center mp-0 pt-3 w-25 h border">Angular</h6>
    <h6 class="text-center mp-0 pt-3 w-25 i border">Java</h6>
    <h6 class="text-center mp-0 pt-3 w-25 j border">Spring Boot</h6>
    <h6 class="text-center mp-0 pt-3 w-25 k border">SQL</h6>
  </div>
</aside>

  <div class="col-sm-6 text-center pt-5 bg-educacion position-relative">
    <h1 class="text-center fw-bold color1 big position-absolute top-50 start-50 translate-middle">HABI<br>LIDA<br>DES</h1>
  </div>

</section>