<footer class="bg-oscuro p-4">
    <div class="row">
      <section class="col-sm-4 color1" id="Contacto">
        <h4>¿Por qué contratarme?</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur illum aliquid animi earum voluptatum ut labore facilis ab reprehenderit!</p>
        <div class="d-flex">
          <div class="d-flex justify-content-between">
              <a class="sin-deco p-3 m-3" href="https://www.linkedin.com/in/miqueas-santill%C3%A1n-baa967249/"><i class="bi bi-linkedin color1 fs-5"></i></a>
          </div>
          <div class="d-flex justify-content-around">
              <a class="sin-deco p-3 m-3" href="https://www.instagram.com/miquee__/"><i class="bi bi-instagram color1 fs-5"></i></a>
          </div>
          <div class="d-flex justify-content-evenly">
              <a class="sin-deco p-3 m-3" href="https://github.com/Mique04?tab=repositories"><i class="bi bi-github color1 fs-5"></i></a>
          </div>
        </div>
      </section>
      <aside class="color1 col-sm-8">
        <h4>Contáctame</h4>
        <div  class="col-sm-8 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button class="btn btn-outline-secondary mt-3" type="submit">Enviar</button>
        </div>
      </aside>
    </div>
  </footer>