<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html"><img src="../../../assets/logo.png" alt="Logo" class="rounded-pill" style="max-height: 40px;"></a>
      <div class="d-flex font-monospace">
        <div class="dropdown">
          <button class="btn btn-dark color1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Secciones
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#Proyectos">Proyectos</a></li>
            <li><a class="dropdown-item" href="#Educacion">Educación</a></li>
            <li><a class="dropdown-item" href="#Habilidades">Habilidades</a></li>
            <li><a class="dropdown-item" href="#Contacto">Contacto</a></li>
          </ul>
        </div>
        <app-alert-ingrese-datos></app-alert-ingrese-datos>
      </div>
    </div> 
  </nav>