body {
    background-color: #ecece9;
}


/* Fuentes de letras */
* {
    font-family: 'Inter', sans-serif;
}

.title-lyric {
    font-family: 'League Spartan', sans-serif !important;
}
/* .................... */







/* Colores */
.color1{color: #ecece9;}
.color2{color: #1a1a1a;}

.bg-blanco{background-color: #ecece9;}
.bg-oscuro{background-color: #242320;}


.bg-image{
    background-image: url(assets/Background-header/richard-horvath-O96QaASSRcg-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
}

.color-gradient {
    background: rgb(255, 136, 75);
    background: linear-gradient(18deg, rgb(255, 136, 75) 0%, rgb(255, 87, 127) 100%);
}

/* .................... */







/* Extras */
.sin-deco{
    text-decoration: none;
}

.mp-0{
    margin: 0cm;
    padding: 0cm;
}
.z-index{
    z-index: -1;
}

.big {
    font-size: 70px;
}