body {
    background-color: #ecece9;
}

*{
    font-family: 'Inconsolata', monospace;
}
.color1{color: #ecece9;}
.color2{color: #1d1d1d;}

.bg-blanco{background-color: #ecece9;}
.bg-oscuro{background-color: #242320;}
.bg-image{
    background-image: url(assets/Background-header/richard-horvath-O96QaASSRcg-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.height-ArgProg{
    height: 150px;
}

.sin-deco{
    text-decoration: none;
}

.mp-0{
    margin: 0cm;
    padding: 0cm;
}
.z-index{
    z-index: -1;
}

.title-gradient {
    color: transparent;
    background: rgb(255,63,147);
    font-family: 'IM Fell French Canon', serif;
    background: radial-gradient(circle, rgba(255,63,147,1) 0%, rgba(255,168,27,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;

}

.color-gradient {
    background: rgb(255,168,27);
    background: linear-gradient(18deg, rgba(255,168,27,1) 0%, rgba(255,63,147,1) 100%);
}

