body {
    background-color: #ecece9;
}


/* Fuentes de letras */
* {
    font-family: 'Inter', sans-serif;
}

.title-lyric {
    font-family: 'Source Sans Pro', sans-serif!important;
}
/* .................... */







/* Colores */
.color1{color: #e2dfda;}
.color2{color: #212121;}
.color3{color: #404258;}
.color4{color: #678983;}

.bg-blanco{background-color: #e2dfda;}
.bg-oscuro{background-color: #212121;}
.bg-3{background-color: #404258;}
.bg-4{background-color: #678983;}







/* Extras */
.sin-deco{
    text-decoration: none;
}

.mp-0{
    margin: 0cm;
    padding: 0cm;
}
.z-index{
    z-index: -1;
}